In [1]:
## Imports
import pandas as pd
import numpy as np 
import datadotworld as dw
import matplotlib.pyplot as plot
import seaborn as sns
from pathlib import Path
import sys
import os

In [2]:
## Change Data Path in order to Read in data from local CSVs
os.chdir(str(Path(os.getcwd()).parent / 'Data'))

# Data ARD _CoC Annual Renewal Demand (ARD) & Preliminary Pro Rata Need (PPRN)_

  - 4 DataFrames
      - ard_coc_codes
      - ard_full
      - ard_aggregates
      - ard_all_years

## ard_coc_codes

In [3]:
ard_coc_codes = pd.read_csv('ard_coc_codes.csv')
ard_coc_codes.head(20)

    year coc_number                                          coc_name
0   2012     AK-500                                         Anchorage
1   2013     AK-500                                         Anchorage
2   2014     AK-500                                         Anchorage
3   2015     AK-500                                         Anchorage
4   2016     AK-500                                         Anchorage
5   2017     AK-500                                         Anchorage
6   2018     AK-500                                         Anchorage
7   2019     AK-500                                         Anchorage
8   2012     AK-501                           Alaska Balance of State
9   2013     AK-501                           Alaska Balance of State
10  2014     AK-501                           Alaska Balance of State
11  2015     AK-501                           Alaska Balance of State
12  2016     AK-501                           Alaska Balance of State
13  2017     AK-501                           Alaska Balance of State
14  2018     AK-501                           Alaska Balance of State
15  2019     AK-501                           Alaska Balance of State
16  2012     AL-500  Birmingham,Jefferson, St. Clair, Shelby Counties
17  2013     AL-500  Birmingham,Jefferson, St. Clair, Shelby Counties
18  2014     AL-500  Birmingham,Jefferson, St. Clair, Shelby Counties
19  2015     AL-500  Birmingham,Jefferson, St. Clair, Shelby Counties

## ard_full

In [4]:
ard_full = pd.read_csv('ard_full.csv')
ard_full.head(20)

,year,coc_number,coc_number_and_name,pprn,estimated_ard,tier_1,bonus,dv_bonus,coc_planning
0,2019,AK-500,AK-500-ANCHORAGE,1264986,3784364,3610858.0,189218,126499.0,113531
1,2019,AK-501,AK-501-ALASKA BALANCE OF STATE,792338,790036,749696.0,39617,79234.0,23770
2,2019,AL-500,"AL-500-BIRMINGHAM,JEFFERSON,ST.CLAIR,SHELBY CO...",6587951,9223098,8676439.0,461155,658795.0,276693
3,2019,AL-501,"AL-501-MOBILE CITY & COUNTY,BALDWIN COUNTY",3110886,3699553,3477581.0,184978,311089.0,110987
4,2019,AL-502,"AL-502-FLORENCE,NORTHWEST ALABAMA",595732,419114,393968.0,44155,59573.0,17872
5,2019,AL-503,"AL-503-HUNTSVILLE,NORTH ALABAMA",942862,636987,598768.0,76469,94286.0,28286
6,2019,AL-504,AL-504-MONTGOMERY CITY & COUNTY,1623396,1196145,1127942.0,106813,162340.0,48702
7,2019,AL-506,AL-506-TUSCALOOSA CITY & COUNTY,400316,203299,191101.0,49254,50000.0,12009
8,2019,AL-507,AL-507-ALABAMA BALANCE OF STATE,3699879,1066686,1002685.0,658298,369988.0,110996
9,2019,AR-500,"AR-500-LITTLE ROCK,CENTRAL ARKANSAS",1680647,3076941,2892323.0,153847,168065.0,92308
10,2019,AR-501,"AR-501-FAYETTEVILLE,NORTHWEST ARKANSAS",1114200,323438,304031.0,197691,111420.0,33426
11,2019,AR-503,AR-503-ARKANSAS BALANCE OF STATE,2300091,308348,289847.0,497936,230009.0,69003
12,2019,AR-504,AR-504-DELTA HILLS,867881,0,0.0,216970,86788.0,26036
13,2019,AR-505,AR-505-SOUTHEAST ARKANSAS,847475,247942,233065.0,149883,84748.0,25424
14,2019,AS-500,AS-500-AMERICAN SAMOA,459338,0,0.0,114835,50000.0,13780
15,2019,AZ-500,AZ-500-ARIZONA BALANCE OF STATE,3821458,3912060,3700198.0,195603,382146.0,117362
16,2019,AZ-501,"AZ-501-TUCSON,PIMA COUNTY",6172731,8334299,7837867.0,416715,617273.0,250029
17,2019,AZ-502,"AZ-502-PHOENIX,MESA,MARICOPA COUNTY REGIONAL",20654277,26505040,24930930.0,1325252,2065428.0,795151
18,2019,CA-500,"CA-500-SAN JOSE,SANTA CLARA CITY & COUNTY",8861044,25405437,23981405.0,1270272,886104.0,762163
19,2019,CA-501,CA-501-SAN FRANCISCO,13293659,44862542,42370572.0,2243127,1329366.0,1345876

In [40]:
ard_full.isna().sum()

year                      0
coc_number                0
coc_number_and_name       0
pprn                      0
estimated_ard             0
tier_1                 1597
bonus                     0
dv_bonus               1203
coc_planning              0
State                     0
dtype: int64

In [23]:
## Add State
ard_full['State'] = ard_full['coc_number'].apply(lambda x: x[:2])

In [25]:
## Sum of Monies By State (Aggregate for all years)
ard_full.groupby('State').sum().drop(columns = 'year').sort_values(by=['pprn'], ascending= False)

,pprn,estimated_ard,tier_1,bonus,dv_bonus,coc_planning
State,,,,,,
CA,1057402181,1779778533,384526418.0,131657725,41630852.0,47476981
NY,918020427,982988952,202338351.0,79182320,25017425.0,23540383
TX,592880560,429475504,90799370.0,51455057,25209437.0,18597201
PA,500777470,491362758,98721574.0,38736942,21333423.0,15799531
IL,446216166,523132768,106347386.0,39686034,17582135.0,13530037
OH,364007843,472733960,99648349.0,35449793,15517363.0,14553048
FL,362570671,408103835,79821820.0,37001981,15830622.0,14230479
MI,303160220,340270691,68456198.0,28076388,13195304.0,11136392
MA,232352669,351016067,71993637.0,26761931,9838216.0,10871658
NJ,230939448,217683317,43341288.0,20165888,9919212.0,7865485
GA,177983147,196517017,39430909.0,15237362,7680729.0,6257742
MO,156391897,167119269,33445308.0,13699302,6746303.0,5566522
MD,140811284,242367196,49007496.0,17881863,6525280.0,7276828
AZ,140350774,189302726,36468995.0,14108957,6072539.0,5679081
NC,134746575,120841630,24549217.0,10558566,5866526.0,4287024
IN,134663069,93905837,21131780.0,9892591,5732792.0,4039894
PR,131581835,94607976,17505126.0,10928491,5401563.0,3969565
VA,126514506,141212509,28159217.0,13048630,5576807.0,5029384
MN,125704517,157402108,31351610.0,11422561,5387506.0,4733381
WA,124706813,291617926,65556233.0,21060128,5297945.0,8831435
WI,121122217,115460584,23485151.0,9480062,5148536.0,3892622
LA,107329925,225771914,47267051.0,16682495,4566034.0,6852642
TN,95444309,102703752,19767930.0,8418241,4064953.0,3316311
KY,86636372,96123519,20324102.0,7109578,3688109.0,2907009
AL,80942125,83989625,15468484.0,8058334,3438040.0,3027058
CT,79764975,221676376,49690610.0,15854646,3398575.0,6650293
CO,77550796,145896314,29889924.0,10649526,3258092.0,4434356
OR,71456237,163713389,35368373.0,11685155,3097001.0,4977770
NV,63016940,76769458,15232457.0,5662072,2733237.0,2330819
SC,62929801,48231934,9782906.0,4878978,2717624.0,1924461
IA,59219046,43136911,8499019.0,4876263,2532854.0,1809459
DC,51994630,104485683,20844927.0,7756193,2225453.0,3134572
OK,51601998,41045586,7845866.0,4417412,2223627.0,1620862
UT,42858385,49083610,10010035.0,3914097,1831165.0,1610303
KS,41389373,39178735,7213913.0,3645134,1692585.0,1374354
MS,40607385,25210549,4658682.0,3420226,1729178.0,1218220
RI,39432026,29617587,6544924.0,2862745,1662500.0,1182960
NE,38070737,41695986,8310157.0,3199797,1626303.0,1323168
HI,34376425,57359629,11115161.0,4276692,1461356.0,1720787
WV,32777151,39169081,8043013.0,3006582,1395110.0,1238749
AR,32390925,22037790,3719266.0,3891387,1370312.0,1226771
NM,31568339,51431183,10059112.0,3726422,1371914.0,1542936
ME,26940955,58447676,11636633.0,4247964,1141279.0,1753431
NH,19587938,34779463,7045767.0,2535280,870415.0,1043383
DE,18831720,37665162,7550244.0,2703326,796833.0,1129954
ID,15833181,18964122,3934359.0,1424515,679722.0,569483
MT,10433132,12639082,2471278.0,951120,444139.0,379172
VT,9771237,21414849,4403902.0,1530759,420402.0,642446
AK,9604864,19047757,4360554.0,1387799,410784.0,571502
SD,8896955,6215798,1184344.0,712829,380565.0,266908
GU,6885152,5661106,1047577.0,537280,296007.0,209855
ND,6839629,9557010,1723237.0,728302,292449.0,286710
WY,4760601,1376989,246243.0,482065,204215.0,142818
VI,4443212,630115,158217.0,471300,189615.0,133296
MP,903934,0,0.0,142797,50000.0,27118
AS,459338,0,0.0,114835,50000.0,13780

In [37]:
## Sum of Monies By State (Sorted by Years)
ard_full.groupby(['State', 'year']).sum().sort_values

                 pprn  estimated_ard       tier_1     bonus    dv_bonus  \
State year
AK    2015    1740416        3631777          0.0    544767         0.0
      2016    1839211        3629739          0.0    181487         0.0
      2017    1917406        3588242          0.0    215294         0.0
      2018    2050507        3623599          0.0    217416    205051.0
      2019    2057324        4574400    4360554.0    228835    205733.0
AL    2015   15443990       16602477          0.0   3054068         0.0
      2016   15327065       16898755          0.0    991250         0.0
      2017   15990202       16819800          0.0   1188603         0.0
      2018   17219846       17223711          0.0   1243291   1731969.0
      2019   16961022       16444882   15468484.0   1581122   1706071.0
AR    2015    6306581        5258134          0.0   1317308         0.0
      2016    5950972        4420414          0.0    382383         0.0
      2017    6430265        4208823          0.0    478654         0.0
      2018    6892813        4193750          0.0    496715    689282.0
      2019    6810294        3956669    3719266.0   1216327    681030.0
AS    2019     459338              0          0.0    114835     50000.0
AZ    2015   24617737       38939210          0.0   5840881         0.0
      2016   26879017       36622077          0.0   1831104         0.0
      2017   28128639       37367101          0.0   2242026         0.0
      2018   30076915       37622939          0.0   2257376   3007692.0
      2019   30648466       38751399   36468995.0   1937570   3064847.0
CA    2015  190490601      313334562          0.0  48180248         0.0
      2016  203269307      334631898          0.0  17106990         0.0
      2017  211875615      349532444          0.0  21457733         0.0
      2018  226545536      374637217          0.0  23146934  20795686.0
      2019  225221122      407642412  384526418.0  21765820  20835166.0
CO    2015   14309001       26625801          0.0   3993871         0.0
      2016   15232107       28894917          0.0   1459849         0.0
      2017   15428760       28881005          0.0   1762288         0.0
      2018   16299244       29719399          0.0   1815852   1629924.0
...               ...            ...          ...       ...         ...
VI    2015     807252         133218          0.0    121088         0.0
      2016     853915         115754          0.0     42696         0.0
      2017     885895         107651          0.0     53154         0.0
      2018     939482         108794          0.0     56369     93948.0
      2019     956668         164698     158217.0    197993     95667.0
VT    2015    1788594        3714490          0.0    557173         0.0
      2016    1886757        4185278          0.0    209264         0.0
      2017    1951263        4352654          0.0    261160         0.0
      2018    2087759        4504130          0.0    270247    212411.0
      2019    2056864        4658297    4403902.0    232915    207991.0
WA    2015   22540367       51652452          0.0   7772869         0.0
      2016   24063693       56351515          0.0   2831351         0.0
      2017   25123308       56718045          0.0   3444702         0.0
      2018   26866069       57667840          0.0   3510274   2686606.0
      2019   26113376       69228074   65556233.0   3500932   2611339.0
WI    2015   22037118       22419103          0.0   3567571         0.0
      2016   23413754       22649482          0.0   1254461         0.0
      2017   24185996       22522666          0.0   1541666         0.0
      2018   25866319       23041422          0.0   1639922   2586632.0
      2019   25619030       24827911   23485151.0   1476442   2561904.0
WV    2015    5999722        7241151          0.0   1111213         0.0
      2016    6312972        7555072          0.0    397366         0.0
      2017    6513375        7730418          0.0    491084         0.0
      2018    6967094        8115841          0.0    524723    696710.0
      2019    6983988        8526599    8043013.0    482196    698400.0
WY    2015     842440         316902          0.0    126366         0.0
      2016     923637         273566          0.0     46182         0.0
      2017     952375         263902          0.0     57143         0.0
      2018    1018988         264399          0.0     61139    101899.0
      2019    1023161         258220     246243.0    191235    102316.0

            coc_planning
State year
AK    2015        108953
      2016        108893
      2017        107647
      2018        108708
      2019        137301
AL    2015        610814
      2016        594750
      2017        594303
      2018        621646
      2019        605545
AR    2015        263462
      2016        229429
      2017        239325
      2018        248358
      2019        246197
AS    2019         13780
AZ    2015       1168176
      2016       1098662
      2017       1121013
      2018       1128688
      2019       1162542
CA    2015       8048952
      2016       8454323
      2017       8832887
      2018       9580598
      2019      12560221
CO    2015        798775
      2016        875910
      2017        881145
      2018        907927
...                  ...
VI    2015         24218
      2016         25617
      2017         26577
      2018         28184
      2019         28700
VT    2015        111435
      2016        125558
      2017        130580
      2018        135124
      2019        139749
WA    2015       1554575
      2016       1698811
      2017       1722353
      2018       1755137
      2019       2100559
WI    2015        713514
      2016        752676
      2017        770833
      2018        819960
      2019        835639
WV    2015        222242
      2016        238420
      2017        245541
      2018        262362
      2019        270184
WY    2015         25273
      2016         27709
      2017         28571
      2018         30570
      2019         30695

[273 rows x 6 columns]

## ard_aggregates

In [5]:
ard_aggregates = pd.read_csv('ard_aggregates.csv')
ard_aggregates.head(20)

   coc_number  year  ard_ard  ard_pprn
0      AK-500  2015  2824705   1138309
1      AK-500  2016  2891188   1169576
2      AK-500  2017  2849941   1210110
3      AK-500  2018  2847097   1293735
4      AK-500  2019  3784364   1264986
5      AK-501  2015   807072    602107
6      AK-501  2016   738551    669635
7      AK-501  2017   738301    707296
8      AK-501  2018   776502    756772
9      AK-501  2019   790036    792338
10     AL-500  2015  8319846   5389558
11     AL-500  2016  8748112   5708402
12     AL-500  2017  8647184   6079332
13     AL-500  2018  9109238   6505662
14     AL-500  2019  9223098   6587951
15     AL-501  2015  3837513   2837441
16     AL-501  2016  3838133   2980527
17     AL-501  2017  3736133   3048353
18     AL-501  2018  3741586   3230092
19     AL-501  2019  3699553   3110886

In [26]:
ard_aggregates['State'] = ard_aggregates['coc_number'].apply(lambda x: x[0:2])

In [33]:
## Sum of Monies By State (Aggregate for all years)
ard_aggregates.groupby('State').sum().drop(columns=['year']).sort_values('ard_ard', ascending = False)

          ard_ard    ard_pprn
State
CA     1779825693  1057402181
NY      982971945   825589983
IL      523132768   446216166
PA      491362758   500777470
OH      472688266   364007843
TX      429475504   592880560
FL      408103835   362570671
MA      350207275   230948600
MI      340467170   303160220
WA      291617926   124706813
MD      242367196   140811284
LA      225771914   107329925
CT      221676376    79764975
NJ      217419317   230939448
GA      196517017   177983147
AZ      189305246   140350774
MO      167119269   156391897
OR      163713389    71456237
MN      157399108   125704517
CO      146056822    77550796
VA      141813998   126514506
NC      120841630   134746575
WI      115460584   121122217
DC      104485683    51994630
TN      102703752    95444309
KY       96123519    86636372
PR       94595084   131581835
IN       93905837   134663069
AL       83989625    80942125
NV       76769458    63016940
ME       58449634    26940955
HI       57359629    34376425
NM       51431183    31568339
UT       49083610    42858385
SC       48734827    62929801
IA       43136911    59219046
NE       41695986    38070737
OK       41045586    51601998
KS       39178735    41389373
WV       39169081    32777151
DE       37665162    18831720
NH       34779463    19587938
RI       29617587    39432026
MS       25210549    40607385
AR       22037790    32390925
VT       21414849     9771237
AK       19047757     9604864
ID       18964122    15833181
MT       12542437    10433132
ND        9557010     6839629
SD        6215798     8896955
GU        5661106     6885152
WY        1376989     4760601
VI         630115     4443212
MP              0      903934
AS              0      459338

### Sum of Monies By State (by year)
ard_aggregates.groupby(['State', 'year']).sum()

## ard_all_years

In [6]:
ard_all_years = pd.read_csv('ard_all_years.csv')
ard_all_years.head(20)

,coc_number,coc_name,year,ard_ard,ard_pprn
0,AK-500,Anchorage,2012,2898071,2898071.0
1,AK-500,Anchorage,2013,2996026,NaN
2,AK-500,Anchorage,2014,2857673,1192319.0
3,AK-500,Anchorage,2015,2824705,1138309.0
4,AK-500,Anchorage,2016,2891188,1169576.0
5,AK-500,Anchorage,2017,2849941,1210110.0
6,AK-500,Anchorage,2018,2847097,1293735.0
7,AK-500,Anchorage,2019,3784364,1264986.0
8,AK-501,Alaska Balance of State,2012,823280,823280.0
9,AK-501,Alaska Balance of State,2013,861769,NaN
10,AK-501,Alaska Balance of State,2014,819605,541342.0
11,AK-501,Alaska Balance of State,2015,807072,602107.0
12,AK-501,Alaska Balance of State,2016,738551,669635.0
13,AK-501,Alaska Balance of State,2017,738301,707296.0
14,AK-501,Alaska Balance of State,2018,776502,756772.0
15,AK-501,Alaska Balance of State,2019,790036,792338.0
16,AL-500,"Birmingham,Jefferson, St. Clair, Shelby Counties",2012,8770255,8770255.0
17,AL-500,"Birmingham,Jefferson, St. Clair, Shelby Counties",2013,8795799,NaN
18,AL-500,"Birmingham,Jefferson, St. Clair, Shelby Counties",2014,8121784,5473970.0
19,AL-500,"Birmingham,Jefferson, St. Clair, Shelby Counties",2015,8319846,5389558.0