In [1]:
## Imports
import pandas as pd
import numpy as np 
import datadotworld as dw
import matplotlib.pyplot as plot
import seaborn as sns
from pathlib import Path
import sys
import os

# Data DOE - _Dept of Education Homeless Student Counts_
   - 6 Dataframes:
    - doe_homeless_students_coc_agg
    - coc_code_leaid_crosswalk
    - ed_homeless_students
    - edyouthcount
    - rhy_grantees
    - ed_homeless_students_all_years

In [2]:
## Download data with DataDotWorld package
#master_data  = dw.load_dataset('mschnars/us-homelessness-master-data')

In [9]:
## Change Data Path in order to Read in data from local CSVs
os.chdir(str(Path(os.getcwd()).parent / 'Data'))

## doe_homeless_students_coc_agg

In [10]:
#doe_homeless_students_coc_agg = master_data.dataframes['doe_homeless_students_coc_agg']
doe_homeless_students_coc_agg = pd.read_csv('doe_homeless_students_coc_agg.csv')
doe_homeless_students_coc_agg.head(20)

,year,coc_number,doe_total_count,doe_unsheltered,doe_sheltered,doe_hotel_motel,doe_doubled_up
0,2016,AK-500,2905,155,819,236,1695
1,2014,AK-500,2155,137,512,269,1237
2,2015,AK-500,2217,91,551,224,1351
3,2017,AK-500,2476,168,454,166,1688
4,2014,AK-501,1772,221,388,91,1041
5,2015,AK-501,1890,232,474,77,1045
6,2016,AK-501,2127,265,490,114,1209
7,2017,AK-501,1642,240,272,63,1003
8,2015,AL-500,2907,13,152,115,2511
9,2017,AL-500,2042,21,90,134,1735
10,2014,AL-500,2758,16,208,50,2214
11,2016,AL-500,2050,3,56,95,1689
12,2015,AL-501,6392,55,471,188,5678
13,2016,AL-501,4982,54,326,149,4453
14,2014,AL-501,6516,181,189,491,5652
15,2017,AL-501,6159,63,295,156,5636
16,2014,AL-502,1206,57,66,6,1066
17,2017,AL-502,875,33,44,11,763
18,2015,AL-502,1043,52,90,13,870
19,2016,AL-502,896,46,39,9,782

## coc_code_leaid_crosswalk

In [11]:
#coc_code_leaid_crosswalk = master_data.dataframes['coc_code_leaid_crosswalk']
coc_code_leaid_crosswalk = pd.read_csv('coc_code_leaid_crosswalk.csv')
coc_code_leaid_crosswalk.head(20)

   coc_number                                          coc_name  year
0      AL-507                          Alabama Balance of State  2017
1      AK-500                                         Anchorage  2017
2      AL-500  Birmingham/Jefferson, St. Clair, Shelby Counties  2017
3      AL-503                          Huntsville/North Alabama  2017
4      AK-501                           Alaska Balance of State  2017
5      AL-505                         Gadsden/Northeast Alabama  2017
6      AL-501               Mobile City & County/Baldwin County  2017
7      AL-504                          Montgomery City & County  2017
8      AL-502                        Florence/Northwest Alabama  2017
9      AL-506                          Tuscaloosa City & County  2017
10     AZ-502                     Phoenix, Mesa/Maricopa County  2017
11     AZ-500                          Arizona Balance of State  2017
12     AZ-501                                Tucson/Pima County  2017
13     IL-502               Waukegan, North Chicago/Lake County  2017
14     MD-501                                         Baltimore  2017
15     AR-500                      Little Rock/Central Arkansas  2017
16     AR-501                   Fayetteville/Northwest Arkansas  2017
17     AR-503                         Arkansas Balance of State  2017
18     AR-505                                Southeast Arkansas  2017
19     AR-504                                       Delta Hills  2017

## ed_homeless_students

In [12]:
#ed_homeless_students = master_data.dataframes['ed_homeless_students']
ed_homeless_students  = pd.read_csv('ed_homeless_students.csv')
ed_homeless_students.head(20)

C:\Users\danny\AppData\Local\anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,local_education_agency_identifier,school_year,state_name,state_fips,state_school_district_identifier,district_name,total_homeless_students,hotel_motel_count,unsheltered_count,sheltered_count,doubled_up_count,coc_number,coc_name,lea_city,lea_state,lea_zip_code,year
0,100005,2016-2017,Alabama,1,AL-101,Albertville City,61,NaN,NaN,NaN,53.0,AL-507,Alabama Balance of State,Albertville,AL,35950.0,2017
1,100006,2016-2017,Alabama,1,AL-048,Marshall County,261,3.0,NaN,NaN,258.0,AL-507,Alabama Balance of State,Guntersville,AL,35976.0,2017
2,200180,2016-2017,Alaska,2,AK-05,Anchorage School District,2471,166.0,168.0,454.0,1683.0,AK-500,Anchorage,Anchorage,AK,99504.0,2017
3,100007,2016-2017,Alabama,1,AL-158,Hoover City,62,22.0,NaN,7.0,33.0,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counties",Hoover,AL,35243.0,2017
4,200800,2016-2017,Alaska,2,AK-10,Chugach School District,5,NaN,NaN,NaN,5.0,AK-500,Anchorage,Anchorage,AK,99507.0,2017
5,100008,2016-2017,Alabama,1,AL-169,Madison City,86,24.0,NaN,7.0,55.0,AL-503,Huntsville/North Alabama,Madison,AL,35758.0,2017
6,200001,2016-2017,Alaska,2,AK-31,Lower Kuskokwim School District,24,NaN,NaN,NaN,NaN,AK-501,Alaska Balance of State,Bethel,AK,99559.0,2017
7,100011,2016-2017,Alabama,1,AL-167,Leeds City,135,NaN,NaN,4.0,131.0,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counties",Leeds,AL,35094.0,2017
8,200003,2016-2017,Alaska,2,AK-32,Lower Yukon School District,31,NaN,NaN,NaN,31.0,AK-501,Alaska Balance of State,Mountain Village,AK,99632.0,2017
9,100012,2016-2017,Alabama,1,AL-115,Boaz City,53,NaN,5.0,NaN,48.0,AL-507,Alabama Balance of State,Boaz,AL,35957.0,2017
10,100013,2016-2017,Alabama,1,AL-205,Trussville City,4,NaN,NaN,NaN,NaN,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counties",Trussville,AL,35173.0,2017
11,100030,2016-2017,Alabama,1,AL-102,Alexander City,13,NaN,NaN,NaN,NaN,AL-507,Alabama Balance of State,Alexander City,AL,35010.0,2017
12,200020,2016-2017,Alaska,2,AK-07,Bering Strait School District,6,NaN,NaN,NaN,6.0,AK-501,Alaska Balance of State,Unalakleet,AK,99684.0,2017
13,100060,2016-2017,Alabama,1,AL-104,Andalusia City,5,NaN,NaN,NaN,NaN,AL-507,Alabama Balance of State,Andalusia,AL,36420.0,2017
14,100090,2016-2017,Alabama,1,AL-105,Anniston City,153,NaN,NaN,NaN,NaN,AL-505,Gadsden/Northeast Alabama,Anniston,AL,36202.0,2017
15,100100,2016-2017,Alabama,1,AL-106,Arab City,21,NaN,NaN,NaN,19.0,AL-507,Alabama Balance of State,Arab,AL,35016.0,2017
16,200060,2016-2017,Alaska,2,AK-12,Cordova City School District,4,NaN,NaN,NaN,NaN,AK-501,Alaska Balance of State,Cordova,AK,99574.0,2017
17,100120,2016-2017,Alabama,1,AL-107,Athens City,72,NaN,NaN,NaN,60.0,AL-503,Huntsville/North Alabama,Athens,AL,35611.0,2017
18,100180,2016-2017,Alabama,1,AL-109,Attalla City,173,NaN,NaN,NaN,147.0,AL-505,Gadsden/Northeast Alabama,Attalla,AL,35954.0,2017
19,100185,2016-2017,Alabama,1,AL-187,Saraland City,14,NaN,NaN,NaN,8.0,AL-501,Mobile City & County/Baldwin County,Saraland,AL,36571.0,2017

## edyouthcount

In [13]:
#edyouthcount = master_data.dataframes['edyouthcount']
edyouthcount = pd.read_csv('edyouthcount.csv')
edyouthcount.head(20)

,cocnumber,of_leas_in_coc,total_hcy_count,hotels_motels,unsheltered,sheltered,doubled_up,cdw,lep,uhy
0,Unmatched,271,38112.0,3190.0,860.0,3835.0,29006.0,6753.0,3813.0,3657.0
1,AK-500,2,2476.0,166.0,168.0,454.0,1688.0,599.0,500.0,470.0
2,AK-501,20,1642.0,63.0,240.0,272.0,1007.0,426.0,134.0,396.0
3,AL-500,14,1938.0,134.0,21.0,84.0,1652.0,258.0,105.0,59.0
4,AL-501,5,6159.0,156.0,63.0,295.0,5636.0,891.0,134.0,175.0
5,AL-502,11,875.0,11.0,33.0,44.0,763.0,167.0,16.0,28.0
6,AL-503,8,726.0,102.0,15.0,81.0,513.0,145.0,54.0,67.0
7,AL-504,6,1216.0,80.0,16.0,78.0,1040.0,136.0,27.0,49.0
8,AL-506,2,432.0,53.0,NaN,16.0,352.0,62.0,15.0,17.0
9,AL-507,57,2731.0,93.0,133.0,55.0,1852.0,364.0,134.0,39.0
10,AR-500,23,2076.0,77.0,8.0,181.0,1637.0,279.0,148.0,57.0
11,AR-501,22,1862.0,145.0,NaN,126.0,1353.0,298.0,294.0,35.0
12,AR-503,79,4282.0,32.0,41.0,105.0,2881.0,705.0,207.0,143.0
13,AR-504,52,2047.0,13.0,59.0,32.0,742.0,375.0,76.0,142.0
14,AR-505,32,724.0,3.0,NaN,41.0,364.0,67.0,24.0,NaN
15,AR-512,5,268.0,3.0,3.0,4.0,248.0,41.0,NaN,12.0
16,AZ-500,105,6321.0,367.0,215.0,885.0,4430.0,1011.0,786.0,84.0
17,AZ-501,33,4220.0,135.0,43.0,461.0,2686.0,825.0,380.0,150.0
18,AZ-502,154,16293.0,1063.0,283.0,4512.0,8608.0,2242.0,3023.0,2608.0
19,CA-500,29,4645.0,164.0,296.0,455.0,3672.0,619.0,2313.0,80.0

## rhy_grantees

In [14]:
#rhy_grantees = master_data.dataframes['rhy_grantees']
rhy_grantees = pd.read_csv('rhy_grantees.csv')
rhy_grantees.head(20)

,coc_number,coc_name,coc_state,rhy_grantee,rhy_grant_number,rhy_program_type,rhy_ado_name,rhy_authorized_representative_title,rhy_authorized_representative_email,rhy_authorized_representative_phone_number,rhy_authorized_representative_phone_number_extension,rhy_authorized_representative_address,rhy_authorized_representative_city,rhy_authorized_representative_state,rhy_authorized_representative_zipcode
0,AK-500,Anchorage CoC,AK,COVENANT HOUSE ALASKA,90CX6882,TLP,ALISON KEAR,CEO,akear@covenanthouseak.org,9.073394e+09,NaN,609 F ST,ANCHORAGE,AK,99501-3533
1,AK-500,Anchorage CoC,AK,COVENANT HOUSE ALASKA,90CY6539,BCP,JAMES KEEL,PRESIDENT/CEO,jamestkeel@thechildrenscenterinc.org,4.097655e+09,NaN,609 F ST,ANCHORAGE,AK,99501-3533
2,AK-501,Alaska Balance of State CoC,AK,FAIRBANKS COUNSELING AND ADOPTION,90YO2202,BCP,KRISTIN GIETZEN,NaN,kgietzen@arborcircle.org,6.164568e+09,NaN,912 BARNETTE ST,FAIRBANKS,AK,99701-4510
3,AK-501,Alaska Balance of State CoC,AK,JUNEAU YOUTH SERVICES,90CX6969,TLP,WALTER MAJOROS,EXECUTIVE DIRECTOR,walterm@jys.org,9.075237e+09,NaN,2075 JORDAN AVE # 101,JUNEAU,AK,99801-8095
4,AK-501,Alaska Balance of State CoC,AK,JUNEAU YOUTH SERVICES,90CY6631,BCP,MARK SUPPER,EXECUTIVE DIRECTOR,msupper@layn.org,3.234678e+09,NaN,2075 JORDAN AVE # 101,JUNEAU,AK,99801-8095
5,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",AL,CHILDREN'S AID SOCIETY,90CX6934,TLP,GAYLE WATTS,EXECUTIVE DIRECTOR,gwatts@childrensaid.org,2.059435e+09,NaN,2141 14TH AVE S,BIRMINGHAM,AL,35205-3921
6,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",AL,FAMILY CONNECTION INC,90CY6741,BCP,DENNIS HOFFMAN,PRESIDENT & CEO,d.hoffman@voa-dakotas.org,6.054446e+09,NaN,WALKER RUN #2,ALABASTER,AL,35007-4749
7,AL-503,Huntsville/North Alabama CoC,AL,MORGAN COUNTY SYSTEM OF SERVICES INC,90CY6636,BCP,TERRY POTTMEYER,PRESIDENT AND CEO,terry@friendsofyouth.org,4.258696e+09,313.0,2531 ALABAMA 20,DECATUR,AL,35601-0000
8,AL-503,Huntsville/North Alabama CoC,AL,MORGAN COUNTY SYSTEM OF SERVICES INC,90CY6732,BCP,SARAH ROBINSON,EXECUTIVE DIRECTOR,sarah@wch.org,3.166847e+09,NaN,2531 ALABAMA 20,DECATUR,AL,35601-0000
9,AL-507,Alabama Balance of State CoC,AL,TENNESSEE VALLEY FAMILY SERVICES INC,90CX6909,TLP,LYNN CAFFERY,STREET OUTREACH DIRECTOR,lcaffery@comcast.net,2.564898e+09,NaN,1327 GUNTER AVE,GUNTERSVILLE,AL,35976-1130
10,AR-500,Little Rock/Central Arkansas CoC,AR,VINE AND VILLAGE,90CX7052,TLP,PAUL KROGER,EXECUTIVE DIRECTOR,paul@vineandvillage.org,5.015623e+09,NaN,6420 COLONEL GLENN RD STE 1,LITTLE ROCK,AR,72204-7764
11,AR-501,Fayetteville/Northwest Arkansas CoC,AR,YOUTH BRIDGE INC,90CX6915,TLP,SCOTT LINEBAUGH,EXECUTIVE DIRECTOR,slinebaugh@youthbridge.com,4.795759e+09,NaN,2153 E JOYCE BLVD STE 201,FAYETTEVILLE,AR,72703-4591
12,AR-501,Fayetteville/Northwest Arkansas CoC,AR,YOUTH BRIDGE INC,90CY6514,BCP,DENNIS MORROW,EXECUTIVE DIRECTOR,dmorrow@janusyouth.org,5.035425e+09,NaN,2153 E JOYCE BLVD STE 201,FAYETTEVILLE,AR,72703-4591
13,AR-503,Arkansas Balance of State CoC,AR,CONSOLIDATED YOUTH SERVICES INC,90CY6719,BCP,ANDY GILPIN,NaN,andy@captaincares.org,5.183711e+09,NaN,4220 STADIUM BLVD,JONESBORO,AR,72404-9384
14,AZ-500,Arizona Balance of State CoC,AZ,NORTHLAND FAMILY HELP CENTER,90CY6683,BCP,JAMES GRESS,EXECUTIVE DIRECTOR,jgress@covenanthousefl.org,9.545688e+09,NaN,2724 E LAKIN DR STE 7,FLAGSTAFF,AZ,86004-3900
15,AZ-501,Tucson/Pima County CoC,AZ,ARIZONA YOUTH PARTNERSHIP,90CY6658,BCP,KEVIN PRIEST,CHIEF EXECUTIVE OFFICER/PRESIDENT,kpriest@ccys.org,8.505766e+09,NaN,13644 N SANDARIO RD,MARANA,AZ,85653-8579
16,AZ-501,Tucson/Pima County CoC,AZ,CODAC BEHAVIORAL HEALTH SERVICES OF PIMA COUNT...,90CX6940,TLP,DENNIS REGNIER,PRESIDENT & CHIEF EXECUTIVE OFFICER,dregnier@codac.org,5.202022e+09,NaN,1650 E FORT LOWELL RD STE 202,TUCSON,AZ,85719-2378
17,AZ-501,Tucson/Pima County CoC,AZ,CODAC BEHAVIORAL HEALTH SERVICES OF PIMA COUNT...,90CY6736,BCP,AMBER AMES,EXECUTIVE DIRECTOR,aames@stopoverinc.org,3.176359e+09,NaN,1650 E FORT LOWELL RD STE 202,TUCSON,AZ,85719-2378
18,AZ-501,Tucson/Pima County CoC,AZ,OUR FAMILY SERVICES INC,90CX6938,TLP,PATTI CALDWELL,CEO,pcaldwell@ourfamilyservices.org,5.203232e+09,NaN,2590 N ALVERNON WAY,TUCSON,AZ,85712-2402
19,AZ-501,Tucson/Pima County CoC,AZ,OUR FAMILY SERVICES INC,90CX6972,TLP,PATTI CALDWELL,CEO,pcaldwell@ourfamilyservices.org,5.203232e+09,NaN,2590 N ALVERNON WAY,TUCSON,AZ,85712-2402

## ed_homeless_students_all_years

In [15]:
#ed_homeless_students_all_years = master_data.dataframes['ed_homeless_students_all_years']
ed_homeless_students_all_years = pd.read_csv('ed_homeless_students_all_years.csv')
ed_homeless_students_all_years.head(20)

,local_education_agency_identifier,school_year,state_name,state_fips,state_school_district_identifier,district_name,total_homeless_students,hotel_motel_count,unsheltered_count,sheltered_count,doubled_up_count
0,100005,2016-2017,Alabama,1,AL-101,Albertville City,61,NaN,NaN,NaN,53.0
1,100006,2016-2017,Alabama,1,AL-048,Marshall County,261,3.0,NaN,NaN,258.0
2,100007,2016-2017,Alabama,1,AL-158,Hoover City,62,22.0,NaN,7.0,33.0
3,100008,2016-2017,Alabama,1,AL-169,Madison City,86,24.0,NaN,7.0,55.0
4,100011,2016-2017,Alabama,1,AL-167,Leeds City,135,NaN,NaN,4.0,131.0
5,100012,2016-2017,Alabama,1,AL-115,Boaz City,53,NaN,5.0,NaN,48.0
6,100013,2016-2017,Alabama,1,AL-205,Trussville City,4,NaN,NaN,NaN,NaN
7,100030,2016-2017,Alabama,1,AL-102,Alexander City,13,NaN,NaN,NaN,NaN
8,100060,2016-2017,Alabama,1,AL-104,Andalusia City,5,NaN,NaN,NaN,NaN
9,100090,2016-2017,Alabama,1,AL-105,Anniston City,153,NaN,NaN,NaN,NaN
10,100100,2016-2017,Alabama,1,AL-106,Arab City,21,NaN,NaN,NaN,19.0
11,100120,2016-2017,Alabama,1,AL-107,Athens City,72,NaN,NaN,NaN,60.0
12,100180,2016-2017,Alabama,1,AL-109,Attalla City,173,NaN,NaN,NaN,147.0
13,100185,2016-2017,Alabama,1,AL-187,Saraland City,14,NaN,NaN,NaN,8.0
14,100188,2016-2017,Alabama,1,AL-121,Chickasaw City,50,3.0,NaN,4.0,43.0
15,100189,2016-2017,Alabama,1,AL-196,Satsuma City,16,NaN,NaN,NaN,13.0
16,100190,2016-2017,Alabama,1,AL-103,Alabaster City,40,5.0,NaN,11.0,24.0
17,100194,2016-2017,Alabama,1,AL-177,Pelham City,17,NaN,NaN,NaN,12.0
18,100210,2016-2017,Alabama,1,AL-110,Auburn City,24,6.0,NaN,NaN,18.0
19,100240,2016-2017,Alabama,1,AL-001,Autauga County,49,7.0,NaN,NaN,40.0

#  Data PIT _Point in Time Count Data_ 
   - 3 Dataframes
    - pit_all
    - pit_coc_codes
    - pit_coc_categories

## pit_all

In [16]:
#pit_all = master_data.dataframes['pit_all']
pit_all = pd.read_csv('pit_all.csv')
pit_all.head(20)

,year,coc_number,coc_name,coc_category,pit_overall_homeless,pit_sheltered_es_homeless,pit_sheltered_th_homeless,pit_sheltered_sh_homeless,pit_sheltered_total_homeless,pit_unsheltered_homeless,...,pit_homeless_parenting_youth_age_18_to_24,pit_sheltered_es_homeless_parenting_youth_age_18_to_24,pit_sheltered_th_homeless_parenting_youth_age_18_to_24,pit_sheltered_total_homeless_parenting_youth_age_18_to_24,pit_unsheltered_homeless_parenting_youth_age_18_to_24,pit_homeless_children_of_parenting_youth,pit_sheltered_es_homeless_children_of_parenting_youth,pit_sheltered_th_homeless_children_of_parenting_youth,pit_sheltered_total_homeless_children_of_parenting_youth,pit_unsheltered_homeless_children_of_parenting_youth
0,2007,AK-500,Anchorage CoC,Other Urban CoCs,974,548,294,0,842,132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,AK-500,Anchorage CoC,Other Urban CoCs,1023,535,386,0,921,102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,AK-501,Alaska Balance of State CoC,Rural CoCs,668,350,195,0,545,123,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,AK-501,Alaska Balance of State CoC,Rural CoCs,623,312,219,0,531,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Suburban CoCs,2104,465,775,0,1240,864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2008,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Suburban CoCs,2104,465,775,0,1240,864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2007,AL-501,Mobile City & County/Baldwin County CoC,Other Urban CoCs,649,113,297,0,410,239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2008,AL-501,Mobile City & County/Baldwin County CoC,Other Urban CoCs,524,156,185,0,341,183,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2007,AL-502,Florence/Northwest Alabama CoC,Rural CoCs,265,13,118,0,131,134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2007,AL-503,Huntsville/North Alabama CoC,Other Urban CoCs,830,336,420,0,756,74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2007,AL-504,Montgomery City & County CoC,Other Urban CoCs,456,107,224,0,331,125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2007,AL-505,Gadsden/Northeast Alabama CoC,Rural CoCs,119,93,11,0,104,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2007,AL-506,Tuscaloosa City & County CoC,Other Urban CoCs,345,39,293,0,332,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2007,AL-507,Alabama Balance of State CoC,Rural CoCs,684,286,206,0,492,192,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2007,AR-500,Little Rock/Central Arkansas CoC,Other Urban CoCs,1822,649,538,0,1187,635,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2007,AR-501,Fayetteville/Northwest Arkansas CoC,Other Urban CoCs,279,165,79,0,244,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2007,AR-502,Conway/Arkansas River Valley,NaN,163,11,48,0,59,104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2007,AR-504,Delta Hills CoC,Rural CoCs,901,114,277,0,391,510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2007,AR-505,Southeast Arkansas CoC,Rural CoCs,130,102,18,0,120,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2007,AR-506,"Johnson, Pope, Yell Counties",NaN,21,4,14,0,18,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## pit_coc_codes

In [17]:
#pit_coc_codes = master_data.dataframes['pit_coc_codes']
pit_coc_codes = pd.read_csv('pit_coc_codes.csv')
pit_coc_codes.head(20)

    year coc_number                                          coc_name
0   2007     AK-500                                         Anchorage
1   2007     AK-501                           Alaska Balance of State
2   2007     AL-500  Birmingham,Jefferson, St. Clair, Shelby Counties
3   2007     AL-501               Mobile City & County,Baldwin County
4   2007     AL-502                        Florence,Northwest Alabama
5   2007     AL-503                          Huntsville,North Alabama
6   2007     AL-504                          Montgomery City & County
7   2007     AL-505                         Gadsden,Northeast Alabama
8   2007     AL-506                          Tuscaloosa City & County
9   2007     AL-507                          Alabama Balance of State
10  2007     AR-500                      Little Rock,Central Arkansas
11  2007     AR-501                   Fayetteville,Northwest Arkansas
12  2007     AR-502                      Conway,Arkansas River Valley
13  2007     AR-504                                       Delta Hills
14  2007     AR-505                                Southeast Arkansas
15  2007     AR-506                      Johnson, Pope, Yell Counties
16  2007     AR-508                                        Fort Smith
17  2007     AR-509                   Hot Springs,South West Arkansas
18  2007     AR-510  Hempstead, Sevier, Howard, Little River Counties
19  2007     AZ-500                          Arizona Balance of State

## pit_coc_categories

In [19]:
#pit_coc_categories = master_data.dataframes['pit_coc_categories']
pit_coc_categories = pd.read_csv('pit_coc_categories.csv')
pit_coc_categories.head(20)

   coc_number      coc_category
0      AK-500  Other Urban CoCs
1      AK-501        Rural CoCs
2      AL-500     Suburban CoCs
3      AL-501  Other Urban CoCs
4      AL-502        Rural CoCs
5      AL-503  Other Urban CoCs
6      AL-504  Other Urban CoCs
7      AL-505        Rural CoCs
8      AL-506  Other Urban CoCs
9      AL-507        Rural CoCs
10     AR-500  Other Urban CoCs
11     AR-501  Other Urban CoCs
12     AR-503        Rural CoCs
13     AR-504        Rural CoCs
14     AR-505        Rural CoCs
15     AR-508        Rural CoCs
16     AZ-500        Rural CoCs
17     AZ-501      Major Cities
18     AZ-502      Major Cities
19     CA-500      Major Cities

# Data Cen _Population Estimates and Projections_
  - 5 DataFrames
      - lu_county_coc_bos_region
      - coc_sensus_population
      - crosswalk
      - country_pop_w_coc_code
      - county_population

## lu_county_coc_bos_region

In [22]:
lu_county_coc_bos_region = pd.read_csv('lu_county_coc_bos_region.csv')
lu_county_coc_bos_region.head(20)

   state_postal_code       county_name  county_fips_code coc_number bos_region
0                 AL    Autauga County              1001        NaN        NaN
1                 AL    Baldwin County              1003        NaN        NaN
2                 AL    Barbour County              1005        NaN        NaN
3                 AL       Bibb County              1007        NaN        NaN
4                 AL     Blount County              1009        NaN        NaN
5                 AL    Bullock County              1011        NaN        NaN
6                 AL     Butler County              1013        NaN        NaN
7                 AL    Calhoun County              1015        NaN        NaN
8                 AL   Chambers County              1017        NaN        NaN
9                 AL   Cherokee County              1019        NaN        NaN
10                AL    Chilton County              1021        NaN        NaN
11                AL    Choctaw County              1023        NaN        NaN
12                AL     Clarke County              1025        NaN        NaN
13                AL       Clay County              1027        NaN        NaN
14                AL   Cleburne County              1029        NaN        NaN
15                AL     Coffee County              1031        NaN        NaN
16                AL    Colbert County              1033        NaN        NaN
17                AL    Conecuh County              1035        NaN        NaN
18                AL      Coosa County              1037        NaN        NaN
19                AL  Covington County              1039        NaN        NaN

## coc_sensus_population

In [26]:
coc_census_population = pd.read_csv('coc_census_population.csv')
coc_census_population.head(20)

    year coc_number  cen_population_estimate  cen_population_density
0   2010     AZ-500                  1600930               20.005635
1   2011     AZ-500                  1610025               20.131228
2   2012     AZ-500                  1615189               20.169769
3   2013     AZ-500                  1618543               20.192560
4   2014     AZ-500                  1633657               20.384847
5   2015     AZ-500                  1648810               20.570183
6   2016     AZ-500                  1669225               20.811003
7   2017     AZ-500                  1691794               21.096359
8   2018     AZ-500                  1721749               21.450323
9   2010     AZ-502                  3825191              415.815486
10  2011     AZ-502                  3875065              421.237015
11  2012     AZ-502                  3948225              429.189836
12  2013     AZ-502                  4019019              436.885463
13  2014     AZ-502                  4095508              445.200161
14  2015     AZ-502                  4175049              453.846626
15  2016     AZ-502                  4258603              462.929322
16  2017     AZ-502                  4329580              470.644842
17  2018     AZ-502                  4410824              479.476430
18  2010     AZ-501                   981653              106.849809
19  2011     AZ-501                   988407              107.584960

## crosswalk

In [25]:
crosswalk = pd.read_csv('crosswalk.csv')
crosswalk.head(20)

,state_postal_code,county_name,county_fips_code,year,population_estimate,population_density,coc_number,bos_region
0,AL,Autauga County,1001,2010,54754,92.109644,NaN,NaN
1,AL,Autauga County,1001,2011,55208,92.873383,NaN,NaN
2,AL,Autauga County,1001,2012,54936,92.415812,NaN,NaN
3,AL,Autauga County,1001,2013,54713,92.040672,NaN,NaN
4,AL,Autauga County,1001,2014,54876,92.314878,NaN,NaN
5,AL,Autauga County,1001,2015,54838,92.250952,NaN,NaN
6,AL,Autauga County,1001,2016,55242,92.930579,NaN,NaN
7,AL,Autauga County,1001,2017,55443,93.268710,NaN,NaN
8,AL,Autauga County,1001,2018,55601,93.534505,NaN,NaN
9,AL,Baldwin County,1003,2010,183111,115.179093,NaN,NaN
10,AL,Baldwin County,1003,2011,186540,117.335977,NaN,NaN
11,AL,Baldwin County,1003,2012,190143,119.602309,NaN,NaN
12,AL,Baldwin County,1003,2013,194886,122.585715,NaN,NaN
13,AL,Baldwin County,1003,2014,199189,125.292355,NaN,NaN
14,AL,Baldwin County,1003,2015,202995,127.686376,NaN,NaN
15,AL,Baldwin County,1003,2016,207712,130.653428,NaN,NaN
16,AL,Baldwin County,1003,2017,212619,133.739992,NaN,NaN
17,AL,Baldwin County,1003,2018,218022,137.138546,NaN,NaN
18,AL,Barbour County,1005,2010,27330,30.881285,NaN,NaN
19,AL,Barbour County,1005,2011,27350,30.903884,NaN,NaN

## county_pop_w_coc_code

In [27]:
county_pop_w_coc_code = pd.read_csv('county_pop_w_coc_code.csv')
county_pop_w_coc_code.head(20)

,state_postal_code,county_name,county_fips_code,year,population_estimate,population_density,coc_number
0,AL,Autauga County,1001,2010,54754,92.109644,NaN
1,AL,Autauga County,1001,2011,55208,92.873383,NaN
2,AL,Autauga County,1001,2012,54936,92.415812,NaN
3,AL,Autauga County,1001,2013,54713,92.040672,NaN
4,AL,Autauga County,1001,2014,54876,92.314878,NaN
5,AL,Autauga County,1001,2015,54838,92.250952,NaN
6,AL,Autauga County,1001,2016,55242,92.930579,NaN
7,AL,Autauga County,1001,2017,55443,93.268710,NaN
8,AL,Autauga County,1001,2018,55601,93.534505,NaN
9,AL,Baldwin County,1003,2010,183111,115.179093,NaN
10,AL,Baldwin County,1003,2011,186540,117.335977,NaN
11,AL,Baldwin County,1003,2012,190143,119.602309,NaN
12,AL,Baldwin County,1003,2013,194886,122.585715,NaN
13,AL,Baldwin County,1003,2014,199189,125.292355,NaN
14,AL,Baldwin County,1003,2015,202995,127.686376,NaN
15,AL,Baldwin County,1003,2016,207712,130.653428,NaN
16,AL,Baldwin County,1003,2017,212619,133.739992,NaN
17,AL,Baldwin County,1003,2018,218022,137.138546,NaN
18,AL,Barbour County,1005,2010,27330,30.881285,NaN
19,AL,Barbour County,1005,2011,27350,30.903884,NaN

## county_population

In [28]:
county_population = pd.read_csv('county_population.csv')
county_population.head(20)

,state_postal_code,county_name,county_fips_code,year,population_estimate,population_density
0,AL,Autauga County,1001,2010,54754,92.109644
1,AL,Autauga County,1001,2011,55208,92.873383
2,AL,Autauga County,1001,2012,54936,92.415812
3,AL,Autauga County,1001,2013,54713,92.040672
4,AL,Autauga County,1001,2014,54876,92.314878
5,AL,Autauga County,1001,2015,54838,92.250952
6,AL,Autauga County,1001,2016,55242,92.930579
7,AL,Autauga County,1001,2017,55443,93.268710
8,AL,Autauga County,1001,2018,55601,93.534505
9,AL,Baldwin County,1003,2010,183111,115.179093
10,AL,Baldwin County,1003,2011,186540,117.335977
11,AL,Baldwin County,1003,2012,190143,119.602309
12,AL,Baldwin County,1003,2013,194886,122.585715
13,AL,Baldwin County,1003,2014,199189,125.292355
14,AL,Baldwin County,1003,2015,202995,127.686376
15,AL,Baldwin County,1003,2016,207712,130.653428
16,AL,Baldwin County,1003,2017,212619,133.739992
17,AL,Baldwin County,1003,2018,218022,137.138546
18,AL,Barbour County,1005,2010,27330,30.881285
19,AL,Barbour County,1005,2011,27350,30.903884

# Data ARD _CoC Annual Renewal Demand (ARD) & Preliminary Pro Rata Need (PPRN)_
  - 4 DataFrames
      - ard_coc_codes
      - ard_full
      - ard_aggregates
      - ard_all_years

## ard_coc_codes

In [29]:
ard_coc_codes = pd.read_csv('ard_coc_codes.csv')
ard_coc_codes.head(20)

    year coc_number                                          coc_name
0   2012     AK-500                                         Anchorage
1   2013     AK-500                                         Anchorage
2   2014     AK-500                                         Anchorage
3   2015     AK-500                                         Anchorage
4   2016     AK-500                                         Anchorage
5   2017     AK-500                                         Anchorage
6   2018     AK-500                                         Anchorage
7   2019     AK-500                                         Anchorage
8   2012     AK-501                           Alaska Balance of State
9   2013     AK-501                           Alaska Balance of State
10  2014     AK-501                           Alaska Balance of State
11  2015     AK-501                           Alaska Balance of State
12  2016     AK-501                           Alaska Balance of State
13  2017     AK-501                           Alaska Balance of State
14  2018     AK-501                           Alaska Balance of State
15  2019     AK-501                           Alaska Balance of State
16  2012     AL-500  Birmingham,Jefferson, St. Clair, Shelby Counties
17  2013     AL-500  Birmingham,Jefferson, St. Clair, Shelby Counties
18  2014     AL-500  Birmingham,Jefferson, St. Clair, Shelby Counties
19  2015     AL-500  Birmingham,Jefferson, St. Clair, Shelby Counties

## ard_full

In [30]:
ard_full = pd.read_csv('ard_full.csv')
ard_full.head(20)

,year,coc_number,coc_number_and_name,pprn,estimated_ard,tier_1,bonus,dv_bonus,coc_planning
0,2019,AK-500,AK-500-ANCHORAGE,1264986,3784364,3610858.0,189218,126499.0,113531
1,2019,AK-501,AK-501-ALASKA BALANCE OF STATE,792338,790036,749696.0,39617,79234.0,23770
2,2019,AL-500,"AL-500-BIRMINGHAM,JEFFERSON,ST.CLAIR,SHELBY CO...",6587951,9223098,8676439.0,461155,658795.0,276693
3,2019,AL-501,"AL-501-MOBILE CITY & COUNTY,BALDWIN COUNTY",3110886,3699553,3477581.0,184978,311089.0,110987
4,2019,AL-502,"AL-502-FLORENCE,NORTHWEST ALABAMA",595732,419114,393968.0,44155,59573.0,17872
5,2019,AL-503,"AL-503-HUNTSVILLE,NORTH ALABAMA",942862,636987,598768.0,76469,94286.0,28286
6,2019,AL-504,AL-504-MONTGOMERY CITY & COUNTY,1623396,1196145,1127942.0,106813,162340.0,48702
7,2019,AL-506,AL-506-TUSCALOOSA CITY & COUNTY,400316,203299,191101.0,49254,50000.0,12009
8,2019,AL-507,AL-507-ALABAMA BALANCE OF STATE,3699879,1066686,1002685.0,658298,369988.0,110996
9,2019,AR-500,"AR-500-LITTLE ROCK,CENTRAL ARKANSAS",1680647,3076941,2892323.0,153847,168065.0,92308
10,2019,AR-501,"AR-501-FAYETTEVILLE,NORTHWEST ARKANSAS",1114200,323438,304031.0,197691,111420.0,33426
11,2019,AR-503,AR-503-ARKANSAS BALANCE OF STATE,2300091,308348,289847.0,497936,230009.0,69003
12,2019,AR-504,AR-504-DELTA HILLS,867881,0,0.0,216970,86788.0,26036
13,2019,AR-505,AR-505-SOUTHEAST ARKANSAS,847475,247942,233065.0,149883,84748.0,25424
14,2019,AS-500,AS-500-AMERICAN SAMOA,459338,0,0.0,114835,50000.0,13780
15,2019,AZ-500,AZ-500-ARIZONA BALANCE OF STATE,3821458,3912060,3700198.0,195603,382146.0,117362
16,2019,AZ-501,"AZ-501-TUCSON,PIMA COUNTY",6172731,8334299,7837867.0,416715,617273.0,250029
17,2019,AZ-502,"AZ-502-PHOENIX,MESA,MARICOPA COUNTY REGIONAL",20654277,26505040,24930930.0,1325252,2065428.0,795151
18,2019,CA-500,"CA-500-SAN JOSE,SANTA CLARA CITY & COUNTY",8861044,25405437,23981405.0,1270272,886104.0,762163
19,2019,CA-501,CA-501-SAN FRANCISCO,13293659,44862542,42370572.0,2243127,1329366.0,1345876

## ard_aggregates

In [31]:
ard_aggregates = pd.read_csv('ard_aggregates.csv')
ard_aggregates.head(20)

   coc_number  year  ard_ard  ard_pprn
0      AK-500  2015  2824705   1138309
1      AK-500  2016  2891188   1169576
2      AK-500  2017  2849941   1210110
3      AK-500  2018  2847097   1293735
4      AK-500  2019  3784364   1264986
5      AK-501  2015   807072    602107
6      AK-501  2016   738551    669635
7      AK-501  2017   738301    707296
8      AK-501  2018   776502    756772
9      AK-501  2019   790036    792338
10     AL-500  2015  8319846   5389558
11     AL-500  2016  8748112   5708402
12     AL-500  2017  8647184   6079332
13     AL-500  2018  9109238   6505662
14     AL-500  2019  9223098   6587951
15     AL-501  2015  3837513   2837441
16     AL-501  2016  3838133   2980527
17     AL-501  2017  3736133   3048353
18     AL-501  2018  3741586   3230092
19     AL-501  2019  3699553   3110886

## ard_all_years

In [32]:
ard_all_years = pd.read_csv('ard_all_years.csv')
ard_all_years.head(20)

,coc_number,coc_name,year,ard_ard,ard_pprn
0,AK-500,Anchorage,2012,2898071,2898071.0
1,AK-500,Anchorage,2013,2996026,NaN
2,AK-500,Anchorage,2014,2857673,1192319.0
3,AK-500,Anchorage,2015,2824705,1138309.0
4,AK-500,Anchorage,2016,2891188,1169576.0
5,AK-500,Anchorage,2017,2849941,1210110.0
6,AK-500,Anchorage,2018,2847097,1293735.0
7,AK-500,Anchorage,2019,3784364,1264986.0
8,AK-501,Alaska Balance of State,2012,823280,823280.0
9,AK-501,Alaska Balance of State,2013,861769,NaN
10,AK-501,Alaska Balance of State,2014,819605,541342.0
11,AK-501,Alaska Balance of State,2015,807072,602107.0
12,AK-501,Alaska Balance of State,2016,738551,669635.0
13,AK-501,Alaska Balance of State,2017,738301,707296.0
14,AK-501,Alaska Balance of State,2018,776502,756772.0
15,AK-501,Alaska Balance of State,2019,790036,792338.0
16,AL-500,"Birmingham,Jefferson, St. Clair, Shelby Counties",2012,8770255,8770255.0
17,AL-500,"Birmingham,Jefferson, St. Clair, Shelby Counties",2013,8795799,NaN
18,AL-500,"Birmingham,Jefferson, St. Clair, Shelby Counties",2014,8121784,5473970.0
19,AL-500,"Birmingham,Jefferson, St. Clair, Shelby Counties",2015,8319846,5389558.0